<h1>Editing menu group</h1>

<% form_for(@menu_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @menu_group %> |
<%= link_to 'Back', menu_groups_path %>
