<h1>Editing dish</h1>

<% form_for(@dish) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
      <%= f.label :price %><br /> 
      <%=  f.text_field(:price) %>
  </p>

  <p>
    <%= f.label :menu_item_id %><br />    
    <%=  f.select( :menu_item_id, @menu_items, { :include_blank => true }) %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @dish %> |
<%= link_to 'Back', dishes_path %>






















