<h1>New dish</h1>

<% form_for(@dish) do |f| %>
  <%= f.error_messages %>
  
  <p>
    name: <%=  f.text_field(:name) %>
  </p>
  
  <p>
    Description:  <%= f.text_field :description %>
  </p>

  <p>
    price: <%=  f.text_field(:price) %>
  </p>

  <p>
    menu group: <%=  f.select( :menu_group_id, @menu_groups, { :include_blank => true }) %>
  </p>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', dishes_path %>
