<p>Name: <%= @dish.name %> </p>
<p>Price: <%= @dish.price %> </p>
<p>MenuGroup: <%= @menu_group.name if @menu_group %></p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
